<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      rel="stylesheet"
      href="/css/styles_tablet.css"
      media="(min-width:481px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles_desktop.css"
      media="(min-width:769px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles_hd.css"
      media="(min-width:1200px)"
    />
    <title>Mercado Liebre - Registro</title>
  </head>
  <body>
    <header class="background_amarillo">
      <div class="main_header">
        <div class="logo_search_header">
          <a href="/">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo" />
          </a>
          <form class="buscador">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="texto_header">
          <h4 class="centrado">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
            tarjeta de crédito
          </h4>
        </div>
      </div>

      <nav class="navbar">
        <ul class="menu_navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="serv_navbar">
          <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="#">Mis Compras</a> <i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main class="background_gris">
      <h1 class="titulares">Registro</h1>
      <div class="form">
        <form>
          <div class="form_input">
            <label for="name">Nombre y Apellido</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Nombre y Apellido"
            />
            <p class="input_error">* Campo requerido</p>
          </div>
          <div class="form_input">
            <label for="username">Nombre de Usuario</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Nombre de Usuario"
            />
          </div>
          <div class="form_input">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="E-mail" />
          </div>
          <div class="form_input">
            <label>Fecha de Nacimiento</label>
            <input type="date" name="birthday" />
          </div>
          <div class="form_input">
            <label for="adress">Domiciio</label>
            <input
              type="text"
              name="adress"
              id="adress"
              placeholder="Domiciio"
            />
          </div>
          <div class="form_input_select">
            <label>Perfil de Usuario</label>
          </div>
          <div class="margin_btm_select">
            <input
              type="radio"
              name="userprofile"
              id="userprofileseller"
              value="seller"
            />
            <label for="userprofileseller">Vendedor</label>

            <input
              type="radio"
              name="userprofile"
              id="userprofilebuyer"
              value="buyer"
            />
            <label for="userprofilebuyer">Comprador</label>
          </div>

          <div class="form_input_select">
            <label>Intereses</label>
          </div>
          <div class="margin_btm_select">
            <input
              type="checkbox"
              name="electro"
              id="electro"
              value="electro"
            />
            <label for="electro">Electro</label>
          </div>
          <div class="margin_btm_select">
            <input type="checkbox" name="moda" id="moda" value="moda" />
            <label for="moda">Moda</label>
          </div>
          <div class="margin_btm_select">
            <input type="checkbox" name="hogar" id="hogar" value="hogar" />
            <label for="hogar">Hogar</label>
          </div>
          <div class="margin_btm_select">
            <input
              type="checkbox"
              name="jugeteria"
              id="jugeteria"
              value="jugeteria"
            />
            <label for="jugeteria">Jugetería</label>
          </div>
          <div class="margin_btm_select">
            <input
              type="checkbox"
              name="vidasana"
              id="vidasana"
              value="vidasana"
            />
            <label for="vidasana">Vida sana</label>
          </div>
          <div class="form_input_select">
            <label for="profilepic">Foto de Perfil</label>
          </div>
          <div class="margin_btm_select">
            <input
              type="file"
              name="profilepic"
              id="profilepic"
              accept="image/png,image/jpeg"
            />
          </div>
          <div class="form_input">
            <label for="password">Contraseña</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="form_input">
            <label for="repassword">Repita Contraseña</label>
            <input
              id="repassword"
              type="password"
              name="repassword"
              placeholder="Repita Contraseña"
            />
          </div>
          <div class="botonera_reg">
            <button class="button_reg" type="reset">Limpiar</button>
            <button class="button_reg" type="submit" formaction="/">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer_destop">
        <section class="centrado">
          <div class="footer_icon"><i class="fas fa-credit-card"> </i></div>
          <p class="footer_title">Pagá con tarjeta o en efectivo</p>
          <p class="footer_text">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="centrado">
          <div class="footer_icon"><i class="fas fa-gift"></i></div>
          <p class="footer_title">Envío gratis desde $ 2.500</p>
          <p class="footer_text">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="centrado">
          <div class="footer_icon"><i class="fas fa-user-shield"></i></div>
          <p class="footer_title">Seguridad de principio a fin</p>
          <p class="footer_text">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section>
        <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
